
.appContainerheader{
  display: flex;
  flex-direction: column;
}

.appContainerHeaderLogo{
  font-size: 6.8rem;
  font-family: var(--fontText);
  font-weight: 700;
}

.appContainerHeaderLogoTextEnfase{
  color: var(--TextSecondColor);
}

.appContainerheaderText{
  font-size: 2.8rem;
  margin-inline: auto;
}