@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
:root {
  --backColor: #ffedd5;
  --textColor: #2d2c2a;
  --TextSecondColor: #995000;
  --HeaderColor: #fed7aa;
  --blackColor: #000000;
  --fontText: "Roboto Serif", serif;
}
